@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.ant-dropdown-menu {
  width: 50vw !important;
  text-align: center !important;
  background-color: #242424 !important;
}

.ant-dropdown-menu-title-content {
  text-align: start !important;
  font-size: 16px !important;
  color: white !important;
}

.ant-card {
  background-color: transparent !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-card-cover {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 16px !important;
  background-color: #c4c4c4 !important;
  border-radius: 8px !important;
}

.ant-card-body {
  width: 100% !important;
  height: 90px !important;
  text-align: center !important;
  font-weight: 700 !important;
  padding: 24px !important;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#whoWeAre {
  background-image: url(./assets/cover1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#whoWeServe {
  background-image: url(./assets/cover2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 460px) and (max-width: 639px) {
  .container-job {
    width: 200px !important;
  }
}
